<div class="d-flex align-items-start justify-content-center h-100 vw-100 overflow-auto p-4">
    <div class="container p-3 bg-white">
        <h4>{{ isEditMode ? 'Editar Paciente' : 'Criar Paciente' }}</h4>

        <form [formGroup]="patientForm" (ngSubmit)="onSubmit()">
            @if(user.role.name === "AdminGeral"){
                <div class="mb-3">
                    <label for="hospitalId" class="form-label">Hospital</label>
                    <select id="hospitalId" class="form-select" formControlName="hospitalId">
                        <option value="" disabled>Selecione um hospital</option>
                        <option *ngFor="let h of hospitals" [value]="h.id">
                            {{ h.companyName }}
                        </option>
                    </select>
                    @if(patientForm.get('hospitalId')?.invalid &&
                    patientForm.get('hospitalId')?.touched){
                    <div class="text-danger">
                        Hospital é obrigatório.
                    </div>
                    }
                </div>
            }

            <div class="mb-3">
                <label for="name" class="form-label">Nome</label>
                <input id="name" type="text" class="form-control" formControlName="name" />
                @if(patientForm.get('name')?.invalid && patientForm.get('name')?.touched){
                <div class="text-danger">
                    Nome é obrigatório.
                </div>
                }
            </div>

            <div class="mb-3">
                <label for="cpf" class="form-label">CPF</label>
                <input id="cpf" type="text" class="form-control" formControlName="cpf" />
                @if(patientForm.get('cpf')?.invalid && patientForm.get('cpf')?.touched){
                <div class="text-danger">
                    CPF é obrigatório.
                </div>
                }
            </div>

            <div class="mb-3">
                <label for="phone" class="form-label">Telefone</label>
                <input id="phone" type="text" class="form-control" formControlName="phone" />
                @if(patientForm.get('phone')?.invalid && patientForm.get('phone')?.touched){
                <div class="text-danger">
                    Telefone é obrigatório.
                </div>
                }
            </div>

            <div class="mb-3">
                <label for="email" class="form-label">E‑mail</label>
                <input id="email" type="email" class="form-control" formControlName="email" />
                @if(patientForm.get('email')?.invalid && patientForm.get('email')?.touched){
                <div class="text-danger">
                    E‑mail é obrigatório.
                </div>
                }
            </div>

            <div class="mb-3">
                <label for="address" class="form-label">Endereço</label>
                <input id="address" type="text" class="form-control" formControlName="address" />
            </div>

            <button type="submit" class="btn btn-primary me-2">
                {{ isEditMode ? 'Salvar' : 'Criar' }}
            </button>
            <button type="button" class="btn btn-secondary" (click)="onCancel()">
                Cancelar
            </button>
        </form>
    </div>
</div>