.chat-rooms {
    width: 100%;
    height: 100%;
    background-color: rgb(233, 233, 233);
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto;
}

p {
    padding: 0;
    margin: 0;
}

.room {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
    cursor: pointer;
    transition: background 0.3s ease;
}

.room:hover {
    background-color: #efefef;
}

.img-room {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
}

.infos-room {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title-room {
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 4px;
}

.last-message {
    font-size: 14px;
    color: #666;
}