<div class="chat-container">
    <div class="chat-header">
        <h2>Hospital Chat</h2>
    </div>

    <div class="chat-controls">
        <input type="text" [(ngModel)]="userId" placeholder="Id do usuário" />
    </div>

    <div class="chat-room">
        @for (room of rooms; track $index) {
        <p (click)="connectRoom(room.roomId)">Sala: {{ room.room.name }}</p>
        }
    </div>

    <div class="chat-messages">
        @for (message of messages; track $index) {
        <div class="message" [ngClass]="message.sender.id === userId ? 'user' : 'other'">
            <p><strong>{{ message.sender.name }}:</strong> {{ message.content }}</p>
        </div>
        }
    </div>

    <div class="chat-input">
        <input type="text" [(ngModel)]="newMessage" (keyup.enter)="sendMessage()"
            placeholder="Digite sua mensagem..." />
        <button (click)="sendMessage()">Enviar</button>
    </div>
</div>